<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>douban-manager</display-name>
  
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.lv.web.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.lv.web.filter.LoginFilter</filter-class>
  	<init-param>
  		<param-name>paths</param-name>
  		<param-value>/movie,/type,/img,/reply,/movie</param-value><!-- /movie,/type, -->
  	</init-param>
  </filter>
  <filter-mapping>
	  <filter-name>LoginFilter</filter-name>
	  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <error-page>
	  <error-code>500</error-code>
	  <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  
  
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>